@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model AdminProfileModel
@{
    ViewBag.Title = "Admin";
    Layout = "/Views/Shared/_adminView.cshtml";
}






<!-- page content -->
<div class="right_col" role="main">
    <!-- top tiles -->
    <div class="row" style="display: inline-block;">
        <div class="tile_count">
            <div class="col-md-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
                <div class="count">@Model.AppUser.Count()</div>
            </div>
            <div class="col-md-4   tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Hiring Manager</span>
                <div class="count green">@Model.HighUserRole.Count()</div>
            </div>
            <div class="col-md-4  tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Employees</span>
                <div class="count">@Model.EmployeeUserRole.Count()</div>
            </div>
        </div>
    </div>
    <!-- /top tiles -->
    @*<div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="dashboard_graph">

                    <div class="row x_title">
                        <div class="col-md-6">
                            <h3>Network Activities <small>Graph title sub-title</small></h3>
                        </div>
                        <div class="col-md-6">
                            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-9 ">
                        <div id="chart_plot_01" class="demo-placeholder"></div>
                    </div>
                    <div class="col-md-3 col-sm-3  bg-white">
                        <div class="x_title">
                            <h2>Top Campaign Performance</h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="col-md-12 col-sm-12 ">
                            <div>
                                <p>Facebook Campaign</p>
                                <div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="80"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Twitter Campaign</p>
                                <div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 ">
                            <div>
                                <p>Conventional Media</p>
                                <div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Bill boards</p>
                                <div class="">
                                    <div class="progress progress_sm" style="width: 76%;">
                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
        <br />*@
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Registered<small>Users</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <p class="text-muted font-13 m-b-30">
                                    Users Register to the System
                                </p>
                                <table id="datatable" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Users ID</th>
                                            <th>Users Email</th>
                                            <th>Email Confirmed</th>
                                            <th>Avilability</th>
                                            <th>Active/Inactive</th>
                                            <th colspan="2">Actions</th>
                                        </tr>
                                    </thead>


                                    <tbody>
                                        @if (Model.AppUser.Any())
                                        {
                                            @foreach (var item in Model.AppUser)
                                            {
                                                if (item.Id != UserManager.GetUserId(User))
                                                {
                                                    <tr>
                                                        <td>@item.Id</td>
                                                        <td>@item.UserName</td>
                                                        @if (item.EmailConfirmed)
                                                        {
                                                            <td class="text-center"><input type="checkbox" id="check-all" checked disabled></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center"><input type="checkbox" id="check-all" disabled></td>
                                                        }
                                                        @if (item.Availablility)
                                                        {
                                                            <td class="text-center"><input type="checkbox" id="check-all" checked disabled></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center"><input type="checkbox" id="check-all" disabled></td>
                                                        }
                                                        @if (item.InactiveUsers)
                                                        {
                                                            <td class="text-center"><input type="checkbox" id="check-all" checked disabled></td>
                                                        }
                                                        else
                                                        {
                                                            <td class="text-center"><input type="checkbox" id="check-all" disabled></td>
                                                        }
                                                        <td colspan="2" class="text-center">
                                                            <form asp-controller="Administration" asp-action="RemoveUser" asp-route-id="@item.Id" style="float:left;">
                                                                <button type="submit" class="btn btn-block text-danger" onclick="return confirm('Are You Sure u want to Delete: @item.UserName')"><i class="fa fa-trash-o"></i></button>
                                                            </form>
                                                        </td>

                                                    </tr>
                                                }


                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                Users are not Registered
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6  ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Roles Available</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Roles</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>

                        @if (Model.identityRoles.Any())
                        {
                            @foreach (var item in Model.identityRoles)
                            {
                                if (item.Name != "Admin")
                                {
                                    <tbody>
                                        <tr>
                                            <td>@item.Name</td>
                                            <td colspan="2">
                                                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@item.Id" class="btn text-primary"><i class="fa fa-edit"></i></a>
                                                <form asp-controller="Administration" asp-action="Delete" asp-route-id="@item.Id" style="float:left;">
                                                    <button type="submit" class="btn btn-block text-danger" onclick="return confirm('Are You Sure u want to Delete: @item.Name')"><i class="fa fa-trash-o"></i></button>
                                                </form>
                                            </td>

                                        </tr>
                                    </tbody>
                                }
                            }
                        }
                        else
                        {
                            <tr>
                                Admin has not Created any roles
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
        @foreach (var roles in Model.Roles)
        {
            if (roles.Name != "Admin")
            {

                <div class="col-md-6 col-sm-6  ">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>@roles </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li>
                                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>UserName</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var user in Model.AppUser)
                                    {
                                        @foreach (var data in Model.UserRole)
                                        {
                                            if (user.Id == data.UserId && roles.Id == data.RoleId)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-md-9 col-sm-9 ">

                                                                @user.Email

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <form asp-controller="Administration" asp-action="RemoveRole" asp-route-id="@user.Id" style="float:left;">
                                                                <div class="col-md-9 col-sm-9 ">
                                                                    <button type="submit" class="btn btn-block text-center text-danger" onclick="return confirm('Are You Sure u want to Delete?)"><i class="fa fa-trash-o"></i></button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }


        }
    </div>

</div>
<!-- /page content -->
