@inject IQualification info
@inject IEducation edu
@inject ISkill skil
@inject UserManager<ApplicationUser> UserManager
@model HomeDetailsViewModel

@{
    var dateChanger = Model.AppUser.dob;
    var address = "";
    if (Model.AppUser.PermanentAddress != null)
    {
        address = Model.AppUser.PermanentAddress + "," + Model.AppUser.streetname + "," + Model.AppUser.states + "," + Model.AppUser.country;
    }
    {
        address = "";
    }
    var photopath = "~/images/" + (Model.AppUser.img ?? "user.png");
    Layout = "/Views/Shared/_adminView.cshtml";
}


<div class="right_col" role="main">
    <div class="row">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5">
                    <div class="resume-base bg-primary user-dashboard-info-box p-4">
                        <div class="profile1">
                            <div class="jobster-user-info">
                                <div class="profile-avatar">
                                    <img id="output_image" src="@Url.Content(photopath)" class="img-fluid " asp-append-version="true" />
                                </div>
                                <div class="profile-avatar-info mt-3">
                                    <h5 class="text-white">@Model.AppUser.Firstname @Model.AppUser.LastName</h5>
                                </div>
                            </div>
                        </div>
                        <div class="about-candidate border-top">
                            <div class="candidate-info">
                                <h6 class="text-white">Name:</h6>
                                <p class="text-white">@Model.AppUser.Firstname @Model.AppUser.LastName</p>
                            </div>
                            <div class="candidate-info">
                                <h6 class="text-white">Email:</h6>
                                <p class="text-white">@Model.AppUser.Email</p>
                            </div>
                            <div class="candidate-info">
                                <h6 class="text-white">Phone:</h6>
                                <p class="text-white">(+977) @Model.AppUser.PhoneNumber</p>
                            </div>
                            <div class="candidate-info">
                                <h6 class="text-white">Date Of Birth:</h6>
                                <p class="text-white"> @dateChanger.ToString("dd MMM yyyy")</p>
                            </div>
                            <div class="candidate-info">
                                <h6 class="text-white">Address:</h6>
                                <p class="text-white">@address</p>
                            </div>
                            <div class="candidate-info">
                                <h6 class="text-white">Gender:</h6>
                                <p class="text-white">@Model.AppUser.Sex</p>
                            </div>
                        </div>
                        <div class="mt-0">
                            <h5 class="text-white">Professional Skill:</h5>
                            @foreach (var item in skil.getrecords())
                            {
                                if (item.Userid == Model.AppUser.Id)
                                {
                                        <div class="progress bg-dark">
                                            <div class="progress-bar bg-white" role="progressbar" style="width:55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar-title text-white"> @item.Skill</div>
                                                <span class="progress-bar-number text-white"> @item.SkillPercent</span>
                                            </div>
                                        </div>
                                }
                            }

                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="resume-experience">
                        <div class="timeline-box">
                            <h5 class="resume-experience-title">Education:</h5>
                            <div class="jobster-candidate-timeline">
                                @foreach (var item in edu.getrecords())
                                {

                                    if (item.Userid == Model.AppUser.Id)
                                    {
                                        <div class="jobster-timeline-item">
                                            <div class="jobster-timeline-cricle">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                            <div class="jobster-timeline-info">
                                                <div class="dashboard-timeline-info">
                                                    <span class="jobster-timeline-time">@Html.DisplayFor(modelItem => item.Startdate) - @Html.DisplayFor(modelItem => item.Enddate) </span>
                                                    <h6 class="mb-2">@Html.DisplayFor(modelItem => item.Qualification)</h6>
                                                    <span>-  @Html.DisplayFor(modelItem => item.Graduated) , @Html.DisplayFor(modelItem => item.Addressname)</span>
                                                    <p class="mt-2">@Html.DisplayFor(modelItem => item.Description)</p>
                                                </div>
                                            </div>
                                        </div>

                                    }
                                }
                            </div>
                        </div>
                        <div class="timeline-box mt-4">
                            <h5 class="resume-experience-title">Work &amp; Experience:</h5>
                            <div class="jobster-candidate-timeline">
                                @foreach (var item in info.getrecords())
                                {
                                    if (item.Userid == Model.AppUser.Id)
                                    {
                                        <div class="jobster-timeline-item">
                                            <div class="jobster-timeline-cricle">
                                                <i class="fa fa-circle"></i>
                                            </div>
                                            <div class="jobster-timeline-info">
                                                <div class="dashboard-timeline-info">
                                                    <span class="jobster-timeline-time"> @Html.DisplayFor(modelItem => item.Startdate)-@Html.DisplayFor(modelItem => item.Enddate)</span>
                                                    <h6 class="mb-2">@Html.DisplayFor(modelItem => item.Position)</h6>
                                                    <span>- @Html.DisplayFor(modelItem => item.WorkPlace) , @Html.DisplayFor(modelItem => item.Addressname)</span>
                                                    <p class="mt-2">@Html.DisplayFor(modelItem => item.Description)</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <div class="timeline-box mt-4">
                            <h5 class="resume-experience-title">Skills:</h5>
                            <div class="jobster-candidate-timeline">
                                @foreach (var item in skil.getrecords())
                                {
                                    if (item.Userid == Model.AppUser.Id)
                                    {
                                        using (Html.BeginForm("Delete", "Skill", new { id = item.Id }))
                                        {
                                            <div class="jobster-timeline-item">
                                                <div class="jobster-timeline-cricle">
                                                    <i class="fa fa-circle"></i>
                                                </div>
                                                <div class="jobster-timeline-info">
                                                    <div class="dashboard-timeline-info">
                                                        <h6 class="mb-2">@Html.DisplayFor(modelItem => item.Skill)</h6>
                                                        <p class="mt-2"> @Html.DisplayFor(modelItem => item.Description)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>